.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    height: 100vh;
    background-color: #e5f1e6; /* Soft green background for environmental theme */
  }
  
  .about-content {
    max-width: 800px; /* Limiting the text width */
    padding: 20px;
    text-align: center; /* Centering the text */
  }
  
  .about-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2c6a4f; /* Dark green color for the title */
  }
  
  .about-description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555; /* Slightly dark text for easy readability */
  }
  .about-btn{
    background-color: #2ecc71;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .about-section {
      padding: 40px 20px; /* Reduce padding for smaller screens */
    }
  
    .about-content {
      max-width: 90%; /* Take more width on smaller screens */
      padding: 10px;
    }
  
    .about-title {
      font-size: 2rem; /* Slightly smaller title for smaller screens */
    }
  
    .about-description {
      font-size: 1rem; /* Adjust font size for better readability on mobile */
    }
  }
  